{% extends 'index.html' %}
{% block body %}
    {% load staticfiles %}
    <!-- Section Header Title -->
    <div>
<section class="bg-grey padding-top-45 padding-bottom-45 clearfix">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <div class="col-md-12">
                    <h2>About us</h2>
                </div>
            </div>
        </div><!-- End Row -->
    </div><!-- End container -->
</section><!--  End Section -->
<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb breadcrumb-finance">
                    <li><a href="#"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div><!--  End col -->
        </div> <!-- End Row -->
    </div><!-- End container -->
</div><!--  End Section -->
<div class="line"></div>
<!-- Component Counter Up-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="video-intro-container">
                    <div class="background-video">
                        <img src="{% static 'Images/About/bg-youtube.jpg' %}" class="images-responsive" alt="Image">
                        <button data-href="https://www.youtube.com/embed/vOAB6XOkY2E" id="btn-event" class="btn btn-play"></button>
                    </div>

                    <div id="video-container" class="embed-responsive embed-responsive-16by9 iframe-video-container">
                        <iframe id="video" class="embed-responsive-item" src="https://www.youtube.com/embed/vOAB6XOkY2E" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>We help you get the most return on your money.</h2>
                <div class="clearfix"></div>
                <p>
                    MUTUALFUNDALERT Strives to serve investors who are serious about making amazing
                    mutual fund and ETF investments  month after month. To date MUTUALFUNDALERT  has
                    generated more than 2000  investments from proprietary investing strategies
                    resulting with an amazing 84+% winning history.
                </p><br />
                <p>We are in the business of providing outstanding mutual fund investments opportunities to our members.</p>
            </div>
        </div>
    </div>
</section>
<!-- Section Text 3 Column-->
<section class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="three-column-text">
                <h2 class="title ">What we offer</h2>
                <p>Our investment  strategies are focused on short term & long term investing opportunities for mutual fund. We investment mutual fund and have made phenomenal returns over the last decade.</p><br />
                <div class="col-md-4">
                    <div class="make-easy-item">
                        <h4>Active investors </h4>
                        <p>Our Mutual Fund strategy is designed to produce investments opportunities for mutual fund. Mutual Fund strategy delivers investments throughout the month and require immediate action to maximize your return.This strategy delivers investments that are high risk. </p>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="make-easy-item">
                        <h4>New Investors </h4>
                        <p>For Investors who are new to stock market, we highly recommend the “Fund-of-Fund” Mutual fund Strategy. This strategy delivers investments that are low risk.</p>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="make-easy-item">
                        <h4>Long term Investors </h4>
                        <p>Our long term investors should consider our “Balanced” Mutual fund Strategy.  This strategy delivers investments  that are medium  risk.</p>
                    </div>
                </div><!-- end col -->
            </div> <!-- End 3 column text -->
        </div><!-- End row -->
    </div><!-- End Container -->
</section><!-- End Section -->


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 we-are-finance">
                <h2 class="title">About the MUTUALFUNDALERT  website</h2>
                <div class="clearfix"></div>
                <p>www.mutualfundalert.net was created with the commitment to have the best customer service and provide the best investing strategies available. Since inception, this website has delivered over 2000 investments through our proprietary investment strategies and currently maintains an unheard of 84+% winning history. </p>

            </div>
            <div class="col-md-6">
                <h2 class="title">Legal</h2>

                <div id="" class="owl-testimonials-1-columns clearfix">
                    <div class="item item-testimonials-1-columns text-left">
                        <p>The MUTUALFUNDALERT name and logo, the Core MUTUALFUNDALERT website, Mutual fund Trading Strategy are property of MUTUALFUNDALERT. Use without permission is strictly forbidden. All contents © MUTUALFUNDALERT.</p>

                    </div><!-- end item -->


                </div> <!-- End Main Sync owl -->

            </div><!-- End Col -->

        </div><!-- End row -->
    </div><!-- End container -->
</section><!-- End container -->
<!-- End counter up -->



<div class="container">
    <div class="line"></div>
</div>
<!-- Component Our Experts Owl -->
<section style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Our Experts</h2>
                <div class="customNavigation">
                    <a class="btn prev-experts"><i class="fa fa-angle-left"></i></a>
                    <a class="btn next-experts"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div><!-- End owl custom button -->
                <div id="owl-experts" class="owl-carousel owl-theme owl-experts clearfix">
                    <div class="item item-experts text-center">
                        <div class="expert-img-container">
                            <div class="avatar">
                                <img src="../Images/Experts/3D.jpg" class="img-responsive" alt="Image">
                            </div>
                            <a href="#" class="in-experts">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div> <!-- end expert img container -->

                        <div class="clearfix"></div>
                        <h4 class="">Lorem ipsum</h4>
                        <p class="job-experts"> Lorem ipsum dolor</p>
                    </div><!-- end item -->
                    <div class="item item-experts text-center">
                        <div class="expert-img-container">
                            <a href="#" class="in-experts">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <div class="avatar">
                                <img src="../Images/Experts/3D.jpg" class="img-responsive" alt="Image">
                            </div>
                        </div> <!-- end expert img container -->
                        <div class="clearfix"></div>
                        <h4 class="">Lorem ipsum</h4>
                        <p class="job-experts">Lorem ipsum dolor</p>
                    </div><!-- end item -->
                    <div class="item item-experts text-center">
                        <div class="expert-img-container">
                            <a href="#" class="in-experts">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <div class="avatar">
                                <img src="../Images/Experts/3D.jpg" class="img-responsive" alt="Image">
                            </div>
                        </div> <!-- end expert img container -->
                        <div class="clearfix"></div>
                        <h4 class="">Lorem ipsum</h4>
                        <p class="job-experts">Lorem ipsum dolor</p>
                    </div><!-- end item -->
                    <div class="item item-experts text-center">
                        <div class="expert-img-container">
                            <a href="#" class="in-experts">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <div class="avatar">
                                <img src="../Images/Experts/3D.jpg" class="img-responsive" alt="Image">
                            </div>
                        </div> <!-- end expert img container -->
                        <div class="clearfix"></div>
                        <h4 class="">Lorem ipsum</h4>
                        <p class="job-experts">Lorem ipsum dolor</p>
                    </div><!-- end item -->
                    <div class="item item-experts text-center">
                        <div class="expert-img-container">
                            <a href="#" class="in-experts">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <div class="avatar">
                                <img src="../Images/Experts/3D.jpg" class="img-responsive" alt="Image">
                            </div>
                        </div> <!-- end expert img container -->
                        <div class="clearfix"></div>
                        <h4 class="">Lorem ipsum</h4>
                        <p class="job-experts">Lorem ipsum dolor</p>
                    </div><!-- end item -->
                    <div class="item item-experts text-center">
                        <div class="expert-img-container">
                            <a href="#" class="in-experts">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <div class="avatar">
                                <img src="../Images/Experts/3D.jpg" class="img-responsive" alt="Image">
                            </div>
                        </div> <!-- end expert img container -->
                        <div class="clearfix"></div>
                        <h4 class="">Lorem ipsum</h4>
                        <p class="job-experts">Lorem ipsum dolor</p>
                    </div><!-- end item -->
                    <div class="item item-experts text-center">
                        <div class="expert-img-container">
                            <a href="#" class="in-experts">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <div class="avatar">
                                <img src="../Images/Experts/3D.jpg" class="img-responsive" alt="Image">
                            </div>
                        </div> <!-- end expert img container -->
                        <div class="clearfix"></div>
                        <h4 class="">Lorem ipsum</h4>
                        <p class="job-experts">Lorem ipsum dolor</p>
                    </div><!-- end item -->
                    <div class="item item-experts text-center">
                        <div class="expert-img-container">
                            <a href="#" class="in-experts">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <div class="avatar">
                                <img src="../Images/Experts/3D.jpg" class="img-responsive" alt="Image">
                            </div>
                        </div> <!-- end expert img container -->
                        <div class="clearfix"></div>
                        <h4 class="">Lorem ipsum</h4>
                        <p class="job-experts">Lorem ipsum dolor</p>
                    </div><!-- end item -->
                </div> <!-- End owl container -->
            </div> <!-- End col -->
        </div><!-- End row -->
    </div>
</section><!-- End container -->
<!-- Get a quote section -->
<section class="bg-grey no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="quote-warp">
                    <div class="quote-text">
                        <h2> How do you get the most value for your money? <a href="../../Home/Contact.html" class="ot-btn btn-rounded large-btn btn-hightlight-color">Get A Quote</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End Section -->
    </div>

{% endblock %}