{% extends 'index.html' %}

{% block body %}
{% load staticfiles %}


<div>
    <!-- Slider -->
<div class="no-padding">
    <div class="slider slider-dark-arrow slider-home-1">
        <div class="fullwidthbanner-container">
            <div id="revolution-slider-home-1">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-delay="4000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'Images/Slider/9.jpg' %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfr stt h2-text"
                             data-x="0"
                             data-y="298"
                             data-speed="400"
                             data-start="1000"
                             data-easing="easeInOut">
                            HELPING YOU TO
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr stt h1-text"
                             data-x="0"
                             data-y="381"
                             data-speed="400"
                             data-start="1400"
                             data-easing="easeInOut">
                            GROW YOUR INVESTMENTS
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfr stb h3-text"
                             data-x="0"
                             data-y="455"
                             data-speed="400"
                             data-start="1700"
                             data-easing="easeInOut"
                             style="max-width: 565px">
                            MUTUALFUNDALERT is an investment advisory firm serving clients with a strong conviction that our clients come first in everything we do
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfr stb group-btn-slider"
                             data-x="0"
                             data-y="580"
                             data-speed="400"
                             data-start="1900"
                             data-easing="easeInOut">
                            <a href="../Home/Register.html" class="ot-btn large-btn btn-rounded btn-main-color btn-1">Register Now</a>
                            <div class="tp-caption sfr stt h2-text" style="font-size:19px;padding-top:15px;">
                                For Free Alerts
                            </div>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-delay="6000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'Images/Slider/2.jpg' %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfr stt h2-text"
                             data-x="0"
                             data-y="298"
                             data-speed="400"
                             data-start="1000"
                             data-easing="easeInOut">
                            HELPING YOU TO
                        </div>


                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr stt h1-text"
                             data-x="0"
                             data-y="381"
                             data-speed="400"
                             data-start="1400"
                             data-easing="easeInOut">
                            GROW YOUR INVESTMENTS
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfr stb h3-text"
                             data-x="0"
                             data-y="455"
                             data-speed="400"
                             data-start="1700"
                             data-easing="easeInOut"
                             style="max-width: 565px">
                            MUTUALFUNDALERT is an investment advisory firm serving clients with a strong conviction that our clients come first in everything we do.
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfr stb group-btn-slider"
                             data-x="0"
                             data-y="580"
                             data-speed="400"
                             data-start="1900"
                             data-easing="easeInOut">
                            <a href="../Home/Register.html" class="ot-btn large-btn btn-rounded btn-main-color btn-1">Register Now</a>
                            <div class="tp-caption sfr stt h2-text" style="font-size:19px;padding-top:15px;">
                                For Free Alerts
                            </div>
                        </div>
                    </li>
                    <!--SLIDE-->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-delay="4000">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'Images/Slider/3.jpg' %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfr stt h2-text"
                             data-x="0"
                             data-y="298"
                             data-speed="400"
                             data-start="1000"
                             data-easing="easeInOut">
                            HELPING YOU TO
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr stt h1-text"
                             data-x="0"
                             data-y="381"
                             data-speed="400"
                             data-start="1400"
                             data-easing="easeInOut">
                            GROW YOUR INVESTMENTS
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfr stb h3-text"
                             data-x="0"
                             data-y="455"
                             data-speed="400"
                             data-start="1700"
                             data-easing="easeInOut"
                             style="max-width: 565px">
                            MUTUALFUNDALERT is an investment advisory firm serving clients with a strong conviction that our clients come first in everything we do
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfr stb group-btn-slider"
                             data-x="0"
                             data-y="580"
                             data-speed="400"
                             data-start="1900"
                             data-easing="easeInOut">
                            <a href="../Home/Register.html" class="ot-btn large-btn btn-rounded btn-main-color btn-1">Register Now</a>
                            <div class="tp-caption sfr stt h2-text" style="font-size:19px;padding-top:15px;">
                                For Free Alerts
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- Slider Revolution End -->

<!-- Component Blog -->
<section class="padding-top-50">
    <div class="container">
        <div class="row">
            <div class="services-home-1">
                <div class="col-md-4">
                    <div class="item-blog">
                        <div class="thumbnail">
                            <a href="#" class="img-blog-contain"><img src="{% static 'Images/Blog/1.jpg' %}" alt=""></a>
                            <div class="caption">
                                <a href="#"><h4>Unbiased Advice</h4></a>
                                <p>
                                    Where do you find exceptional unbiased advice ? Learn how to identify good investments and avoid financial advisers who are not legally required to place your interest first
                                </p>
                                <a class="learn-more" style="display:none;" href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>Learn More

                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item-blog">
                        <div class="thumbnail">
                            <a href="#" class="img-blog-contain"><img src="{% static 'Images/Blog/2.jpg' %}" alt=""></a>
                            <div class="caption">
                                <a href="#"><h4>Evidence Of Success</h4></a>
                                <p>
                                    Where is the evidence of Success ? History is the most tangible evidence of success. Discover how for 5 years we have helped hundreds of families and businesses protect, grow, and multiply their wealth.
                                </p>
                                <a class="learn-more" style="display:none;" href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i> Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item-blog">
                        <div class="thumbnail">
                            <a href="#" class="img-blog-contain"><img src="{% static 'Images/Blog/3.jpg' %}" alt=""></a>
                            <div class="caption">
                                <a href="#"><h4>Clientele</h4></a>
                                <p>
                                    Our clients are successful and passionate people from all walks of life. Whether beginner investor or well versed investor,   your interest is always at the heart of everything we do for you.
                                </p>
                                <a class="learn-more" style="display:none;" href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>Learn More

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Row 2 -->
    </div><!-- End container -->
</section>

<!-- Component Get a Call Back-->
<section class="bg-dark" style="border-bottom: 1px solid #394348;">
    <div class="container">
        <div class="row">

            <div class="get-call-back-contain">
                <div class="col-md-6 get-call-back-left">
                    <div class="call-back-text">
                        <h2 class="text-white">Register For Free Alerts</h2>
                        <div class="clearfix"></div>
                        <p class="text-grey">If you need to get the free alert for Investment<br> you can register here with free registration</p>
                    </div><!-- End call back text left -->
                </div>
                <div class="col-md-6 get-call-back-right">
                    <div class="call-back-form">
<form action="http://mutualfundalert.net/profitalert/Home/GetCallBack" class="get-call-back-contain" method="post"></form>                        <a href="../Home/Register.html" class="ot-btn large-btn btn-rounded btn-main-color btn-submit"> Register</a>
                    </div><!-- End call back form -->
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</section><!-- End Section -->



<!-- Component Media Left Icon Our Services-->
    <section class="bg-greyb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title clearfix text-white">Our Services</h2>
            </div><!-- End col -->
            <div class="services-warp">
                <article class="col-sm-6 col-md-4 media-style media-left-icon-item">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-white">Large-Cap Fund Alert</h4>
                            <p >
                                Buy-Sell Alert on Large-Cap Funds. Funds which invest a larger proportion of their corpus in companies with large market capitalization are called large cap funds. Large-cap funds are known to offer stable and sustainable returns over a period of time, but might be outperformed by small and mid cap funds, which have higher risk exposure
                            </p>
                        </div>
                    </div>
                </article><!-- End article -->
                <article class="col-sm-6 col-md-4 media-style media-left-icon-item">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-white">Mid-Cap Fund Alert</h4>
                            <p>
                                Buy-Sell Alert on Mid-Cap Funds.Funds which invest a larger proportion of their corpus in companies with mid-size market capitalization are called Mid-cap funds.  Most stocks held in a mid-cap fund are firms with established businesses that are still considered developing companies. These funds tend to offer more growth than large-cap stocks and less volatility than the small-cap segment.
                            </p>
                        </div>
                    </div>
                </article><!-- End article -->
                <article class="col-sm-6 col-md-4 media-style media-left-icon-item">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-white">Small-Cap Fund Alert</h4>
                            <p>
                                Buy-Sell Alert on Small-Cap Funds. Funds which invest a larger proportion of their corpus in companies with small-size market capitalization are called Small-cap funds.  Most stocks held in a small-cap fund are firms with new businesses that are still considered start-up companies. These funds tend to offer more growth than large-cap stocks and more volatility than the large-cap mid-cap segment.
                            </p>
                        </div>
                    </div>
                </article><!-- End article -->
                <article class="col-sm-6 col-md-4 media-style media-left-icon-item no-margin">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-university"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-white">Balanced Fund Alert</h4>
                            <p>
                                Buy-Sell Alert on Balanced Funds. A balanced fund combines a stock component, a bond component and sometimes a money market component in a single portfolio. Generally, these hybrid funds stick to a relatively fixed mix of stocks and bonds that reflects either a moderate, or higher equity, component, or conservative, or higher fixed-income, component orientation. Balanced funds are geared toward investors who are looking for a mixture of safety, income and modest capital appreciation.
                            </p>
                        </div>
                    </div>
                </article><!-- End article -->
                <article class="col-sm-6 col-md-4 media-style media-left-icon-item no-margin">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-shield"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-white">Sector(Industry Grp) Alert</h4>
                            <p>
                                Buy-Sell Alert on Sector Fund. A sector fund, that invests solely in businesses that operate in a particular industry or sector of the economy. Because the holdings of this type of fund are in the same industry, there is an inherent lack of diversification associated with these funds. These funds tend to increase substantially in price when there is an increased demand for the product or service offering provided by the businesses in which the funds invest.
                            </p>
                        </div>
                    </div>
                </article><!-- End article -->
                <article class="col-sm-6 col-md-4 media-style media-left-icon-item no-margin">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-white">Fund-of-Fund Alert</h4>
                            <p>
                                Buy-Sell Alert on Fund-of-Fund.  A fund of funds (FOF) - also referred to as a multi-manager investment - is an investment strategy in which a fund invests in other types of funds. This strategy invests in a portfolio that contains different underlying assets instead of investing directly in bonds, stocks and other types of securities. These are fund of funds characteristics that attract small investors who want to get better exposure with fewer risks compared to directly investing in securities
                            </p>
                        </div>
                    </div>
                </article><!-- End article -->
            </div><!-- End Services Warp -->
        </div> <!-- End Row -->
    </div><!-- End container -->
</section>

    <!-- Component Courter Up -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="counter-up counter-up-style-1 text-center">
                    <h2>We are here to help you grow your investments</h2>
                    <p>MUTUALFUNDALERT brings ability, organization, purpose and discipline to your financial life to protect and grow your wealth.</p>
                    <ul>
                        <li>
                            <p><span class="couterup">5</span>YEARS</p>
                            <span class="label-counter">Years of experience</span>
                        </li>
                        <li>
                            <p><span class="couterup">5</span><span class="unit">K</span></p>
                            <span class="label-counter">Happy Customers</span>
                        </li>
                        <li>
                            <p><span class="couterup" id="satis"></span><span class="unit">%</span></p>
                            <span class="label-counter">Satisfaction</span>
                        </li>
                    </ul>
                </div><!-- End counter up -->
            </div> <!-- End cold -->
        </div><!-- End row -->
    </div><!-- End container -->
</section><!-- End Section -->

    <!-- Component Get a Call Back-->
<section class="bg-dark" style="border-bottom: 1px solid #394348;">
    <div class="container">
        <div class="row">


            <div class="get-call-back-contain">
                <div class="col-md-6 get-call-back-left">
                    <div class="call-back-text">
                        <h2 class="text-white">Get a Call Back</h2>
                        <div class="clearfix"></div>
                        <p class="text-grey">If you need to speak to us about a general query fill in<br> the form below and we will call you back as soon as possible.</p>
                    </div><!-- End call back text left -->
                </div>
                <div class="col-md-6 get-call-back-right">
                    <div class="call-back-form">
<form action="http://mutualfundalert.net/profitalert/Home/GetCallBack" class="get-call-back-contain" method="post">                            <p>How can we help? *</p>
                            <select name="drpCallBack" class="form-control custom-form custom-select">
                                <option selected="selected">Discussion with Financial Expert</option>
                                <option>Want custom Portfolio tracking</option>
                                <option>Channel Partner Program</option>
                                <option>Reseller Program</option>
                            </select>
                            <div class="row">
                                <div class="form-group col-md-6 custom-form">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name: *">
                                </div>
                                <div class="form-group col-md-6 custom-form">
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number: *">
                                </div>
                            </div>
                            <label id="lblmsg" style="color:white;margin-top:10px;" class="add-margin has-error"></label><br />
                            <button type="submit" class="ot-btn large-btn btn-rounded btn-main-color btn-submit">Submit</button>
</form>                    </div><!-- End call back form -->
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</section><!-- End Section -->

<!-- Component Our Experts Owl -->
<!-- End container -->
<!-- Section Text 3 Column-->
<!-- End Section -->
<!-- Component Our Partners Owl -->
<!-- End container -->

<style type="text/css">
    .bg-greyb {
        background-color: #00abc9;
        color: white;

    }

</style>

    </div>


{% endblock %}